/_build
dashboard_gen/.env.prod
dashboard_gen/.env
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
.DS_Store
dashboard_gen/priv/.DS_Store
./../.DS_Store
dashboard_gen.zip
/dashboard_gen/.env.prod
