<div class="flex min-h-screen bg-gray-50 text-gray-800 font-sans text-sm">
  <.sidebar collapsed={@collapsed} />
  <div class="flex-1 flex flex-col">
    <.topbar collapsed={@collapsed} />
    <main class="flex-1 px-6 py-4 overflow-y-auto">
      <%= @inner_content %>
    </main>
  </div>
</div>
