<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <.live_title><%= assigns[:page_title] || "DashboardGen" %></.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.js" defer></script>
  </head>
  <body class="bg-gray-50 text-gray-800 font-sans text-sm">
    <%= @inner_content %>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </body>
</html>
